<% include header %>
<body>
  
  <header class="Header">
    <h1>CONTACT INFO</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form>
          <p>Fi                                                                                                                                                           rst Name:</p>
          <input type="text" name="FirstName" value=""><br>
          <p>Last Name:</p>
          <input type="text" name="Lastname" value=""><br>
          <p>Gender:</p>
          <input type="radio" name="Male" value="Male">Male<br>
          <input type="radio" name="Female" value="Female">Female<br><br>
          <a href="https://github.com/MeghanaPutta"><img width="50" height="50" src="images/gh.jpg" alt="GitHub"> </a><br>
          <a href="https://bitbucket.org/MeghanaPutta/"><img width="50" height="50" src="images/bb.jpg" alt="BitBucket">
          </a> <br>
          <a href="https://www.linkedin.com/in/meghana-putta-99ba09171/"><img width="50" height="50" src="images/li.jpg" alt="LinkedIn">
          </a> <br>
          <a href="https://www.facebook.com/meghanareddy.putta"><img width="50" height="50" src="images/fb.jpg" alt="Facebook">
          </a> <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <form>
          <p>Any questions?</p>
          <textarea style="height:200px;width:200px"></textarea><br>
          <button type="button" name="Submit" onclick="alert('Thank you!')">Submit</button>
        </form>
      </div>
    </div>
  </div>
<% include footer%>