<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Thanks & Regards<br>Meghana Putta<br>S533909@NWMISSOURI.EDU
			</div>
		</div>
	</div>

</footer>
<script src="js/game.js"></script>
</body>
</html>
