<% include header %>
<body>
    
    <header class="Header">
        <h1>AGE CALCULATOR</h1>
    </header>
    Date Of Birth:
    <input type="date" id="birth_date">
    <input class="btn" type="button" value="Calculate Age" onclick="ageCalculate()">
    <br><br>
    Age:
    <br>
    <br>
    <div id="age"></div>
    <p id="demo"></p>
    <script src="js/game"></script>
<% include footer%>