<% include header %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<article>
					<h2>About Me</h2>
					<section>
						<h3 id="past-section">Location and Undergraduation</h3>
						<p>I'm from Hyderabad, India and completed my Bachelors in the stream of computer science in the year 2016.</p>
					</section>
					<section>
						<h3 id="past-section">Work Experience</h3>
						<p>I have an experience of 20 months in Accenture as a Process Associate.</p>
						<h3 id="past-section">Skills and Interests</h3>
						<p>Good analytical and Logical Skills.<br>I enjoy listening music.</p>
					</section>
					<section>
						<h3 id="future-section">Graduation</h3>
						<p>I'm here to do my Masters in computer science to enhance my skills and grab ample opportunities which would
							induce my personal and professional growth as well.</p>
					</section>
					<hr>
					<section>
						<h3 class="section-header">SCHEDULE</h3>
						<ol type="i">
							<li><strong>Devel web apps and serv by Denise Case on MW</strong></li>
							<li><em>Adv topics in db systems by Douglas Hawley on MWF</em></li>
							<li><i>Object-oriented prog by Ajay Bandi on TR</i></li>
						</ol>
					</section>
					<hr>
				</article>
			</div>
			<div class="col-sm-4">
				<aside>
					<h4 class="aside-header">Welcome to NWMSU</h4>
					<embed width="200" height="100" src="https://www.youtube.com/embed/2OcbJkQY-SA">


				</aside>
			</div>
		</div>
	</div>
<% include footer%>