article{
	background-color:lightpink;
	color:palevioletred;
	border-color:none;
	border-style:double;
	}
header{
	background-color:gold;
	font-family:bold;
	font-size:100%;
	text-align:center;
	}
body{
	background-image: url("vintage.jpg");
	}
footer{
	background-color:rosybrown;
	border-color:black;
	border-top-style:dotted;
	border-bottom-style:dashed;
}
#past-section{
	color:green;
	font-family:arialblack;	
}
#future-section{
	color:green;
	font-family:arialblack;
}
.section-header{
	background-color:indianred;
	text-align:center;
}
.aside-header{
	background-color:turquoise;
	text-align:right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
	display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-circle {
     width: 200px;
     height: 200px;
border-radius: 50%;
}
  
